html,
body {
  background: #1f1201;
  font-size: 1.1rem;
  font-family: "Roboto", Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #eaebde;
}

a:link {
  color: hwb(59 33% 8%);
}

a:visited {
  color: hwb(27 45% 4%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border-radius: 12px;
  background-color: #4f6e06;
  font-size: 0.95em;
  font-weight: bold;
  color: white;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #146e06;
}

input {
  font-size: 0.95em;
  font-weight: bold;
  background-color: #221908;
  color: white;
  margin: 5px 0px 5px 10px;
}
